@media (min-width: 700px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

	#page-title{
		text-align: center;
		font-size: xx-large;
	}

	#menu{
		display: none;
	}
	
	#events-n-weather{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	iframe{
		width: 450;
		height: 450;
	}
}

@media (min-width: 1000px){

	.about-us {
		flex-direction: row; 
		align-items:center;
		text-align: left;
	}

	.about-us h2, p{
		padding: 1rem;
	}
}