@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    section {
        grid-template-columns: 2fr 1fr; 
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

#mode {
    background-color: rgb(50, 50, 50);
    padding: 0.5rem;
}

header, footer {
    font-family: 'Arvo', serif;
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header span {
    font-size:xx-large;
    padding: 1rem;
}

.navigation ul {
    margin: 0;
    padding: 0;
    background-color: rgb(146, 82, 42);
    list-style-type: none;
}

.navigation a {
    text-align: center;
    display: block;
    color: aliceblue;
    padding: .5rem;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation .active {
    background-color: rgb(52, 52, 52, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    min-height: 100vh;
}

.hero{
    position: relative;
    max-width: 100%;
}

.hero img{
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 35px;
    font-family: 'Arvo', serif;
    text-align: center;
    pointer-events: none;
    background-color: rgba(50, 50, 50, 0.3);
    padding: .7rem;
}

main {
    font-weight: 300;
    align-self: center;
    text-align: center;
    flex: 1;
}

main h1 {
    color: aliceblue;
}

.cards {
    margin: 1rem 1vw;
}

.cards section {
    border: 1px solid rgb(146, 82, 42);
    background-color: white;
    border-radius: 5px;
    margin: 1rem 0;
}

.cards .card {
    background-color: gainsboro;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card h2 {
    background-color: rgb(146, 82, 42);
}

.card li {
    list-style: none;
    font-weight: 500;
    padding: .5rem;

}

.card a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.card p{
    padding: .5rem;
    text-transform: capitalize;
}


iframe {
    padding: 1rem;
}

footer {
    flex-direction: column;
}

@media (max-width: 768px) {

    /* small view navigation */
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;;
    }

    #menu::before {
        content: "☰";
        color: aliceblue;
    }

    #menu.open::before {
        content: "✕";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: rgb(146, 82, 42);
        color: aliceblue;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
    }
    .navigation a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        font-weight: 700;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    .active::before {
        background-color: rgb(52, 52, 52, 0.5); /* just a wayfinding symbol for the user */
    }
}